@import 'tailwindcss';
@import './theme.css';
@import './custom.css';

h1,
h2,
h3 {
    font-family: var(--font-display);
}

.entry-content,
.block-editor-block-list__layout {
    font-family: var(--font-serif);
    color: var(--color-inchiostro);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: color-mix(in srgb, var(--color-inchiostro) 12%, transparent);
  }
}
